<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Caupo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Caupo.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="POSPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="A4Printer" serializeAs="String">
                <value />
            </setting>
            <setting name="KuhinjaPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="SankPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="Tema" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterIP" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayKuhinja" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="BlokKopija" serializeAs="String">
                <value />
            </setting>
            <setting name="ProdajaMinus" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiUser" serializeAs="String">
                <value />
            </setting>
            <setting name="PDVKorisnik" serializeAs="String">
                <value />
            </setting>
            <setting name="LPFR_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="LPFR_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="LPFR_Pin" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="SirinaTrake" serializeAs="String">
                <value />
            </setting>
            <setting name="Firma" serializeAs="String">
                <value />
            </setting>
            <setting name="Adresa" serializeAs="String">
                <value />
            </setting>
            <setting name="Mjesto" serializeAs="String">
                <value />
            </setting>
            <setting name="JIB" serializeAs="String">
                <value />
            </setting>
            <setting name="PDV" serializeAs="String">
                <value />
            </setting>
            <setting name="ZR" serializeAs="String">
                <value />
            </setting>
            <setting name="ExterniPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="HardwareFingerprint" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseType" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpirationDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastActivation" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerMod" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="CerificateName" serializeAs="String">
                <value />
            </setting>
            <setting name="CerificatePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DemoServerUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ProductionSeverUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstor" serializeAs="String">
                <value />
            </setting>
            <setting name="NaplatniUredjaj" serializeAs="String">
                <value />
            </setting>
            <setting name="OznakaSlijednosti" serializeAs="String">
                <value />
            </setting>
            <setting name="VerzijaAplikacije" serializeAs="String">
                <value />
            </setting>
            <setting name="TringServerIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="PnpStopa" serializeAs="String">
                <value />
            </setting>
        </Caupo.Properties.Settings>
    </userSettings>
</configuration>